// import bootstrap scss
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// variables
$base-color: #1f1f1f;
$base-font-color: rgba(255, 255, 255, 0.719);


// styles
.head-row {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.head-row-attributes {
    min-width: 250px;
    text-align: left;
}

.head-row-characters {
    display: flex;
    flex-direction: row;
}

.character-name {
    min-width: 100px;
}

.result-row {
    display: flex;
    flex-direction: row;
    &.colored {
        background-color: rgba(0, 0, 0, 0.03);
    }
}

.character-result-row {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.talent-group {
    border-top: 1px solid rgba(0,0,0, 0.7);
    margin-top: 30px;
    &:first-child {
        margin-top: 0;
    }
}

.talent-group-name {
    font-weight: bold;
}

.success {
    background-color: rgba(0, 255, 0, 0.1);
    &.critical {
        background-color: rgba(0, 255, 0, 0.2);
    }
}

.fail {
    background-color: rgba(255, 0, 0, 0.1);
    &.critical {
        background-color: rgba(255, 0, 0, 0.2);
    }
}
